 body {
    background-image: url("/images/circuit-board-green.png");
 }

h1, p {
    margin: 1em auto;
    text-align: center;
  }
  
  .form-container {
   width: 70%;
   background-color: rgba(5, 5, 5, 0.80);
   border: rgba(255, 215, 0);
   border-radius: 30px;
   padding: 5%;
   margin: 10em auto;
   min-width: 420px;
   z-index: -1;
}

  form {
    width: 60vw;
    max-width: 500px;
    min-width: 50px;
    margin: 0 auto;
    padding-bottom: 2em;
  }
  
  fieldset {
    border: none;
    padding: 1rem 0;
    border-bottom: 3px solid gold;
  }
  
  fieldset:last-of-type {
    border-bottom: none;
  }
  
  label {
    display: block;
    margin: 0.5rem 0;
  }
  
  input {
    margin: 10px 0 0 0;
    width: 100%;
    min-height: 2em;
  }
  
  select {
    margin: 10px 0 0 0;
    width: 100%;
    min-height: 2em;
  }

  textarea {
    margin: 10px 0 0 0;
    width: 100%;
    min-height: 8em;
  }

  .user-cannot-see {
    display: none;
  }
  
  input, textarea {
    background-color: rgb(1, 86, 1);
    border: 1px solid #0a0a23;
    color: #ffffff;
  }
  
  .inline {
    width: unset;
    margin: 0 0.5em 0 0;
    vertical-align: middle;
  }
  
  input[type="submit"] {
    display: block;
    width: 60%;
    margin: 1em auto;
    height: 2em;
    font-size: 1.1rem;
    background-color: gold;
    border-color: white;
    min-width: 40px;
    text-shadow: 1px 1px 2px grey;
  }

  footer {
   background-color: rgba(5, 5, 5, 0.80);
   margin: 20px auto 0 auto;
  }